body {
  background-image: url("https://images7.alphacoders.com/611/thumb-1920-611159.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.co {
  width: 80%;
  float: left;
  text-align: justify;
}

.comillasL {
  width: 10%;
  font-family: 'Times New Roman',serif;
  color: #b2b7f2;
  margin: -9px;
  margin-right: 9px;
  font-size: 2.3em; 
  font-weight: bold;
  float: left;
}
.comillasR {
  width: 10%;
  font-family: 'Times New Roman',serif; 
  color: #b2b7f2; 
  font-size: 2.3em; 
  font-weight: bold;
  float: right;
  margin: -9px;
  padding-top: 11%;
}

h1 {
  color: aliceblue;
}

.centrar {
  text-align: center;
}
